black
flake8
isort
mkdocs
python-dotenv
scipy
seaborn
dvc[azure]>=3.0.0
cookiecutter-data-science
pytest
fastapi
evidently
sdv
deepchecks
scikit-learn==1.7.2
pandas==2.3.3
numpy==2.3.4
matplotlib==3.10.7
mlflow
pytest-cov
fastapi
pydantic
pathlib
typing
joblib
uvicorn
