black
flake8
isort
mkdocs
python-dotenv
-e .
scipy
seaborn
dvc
cookiecutter-data-science
pytest
fastapi
mlflow
evidently
sdv
deepchecks
scikit-learn==1.7.2
pandas==2.3.3
numpy==2.3.4
matplotlib==3.10.7
mlflow

