name: CD - Build y Publicación de Imagen Docker

on:
  push:
    branches: [ "development" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout del código
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  
          lfs: true        

      - name: Configurar Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login en Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Construir y Publicar Imagen
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          provenance: false 
          tags: |
            mariofonsecamtz/eq18_turkish_music_mlops:latest
          secrets: |
            "AZURE_PROJECT_KEY=${{ secrets.AZURE_PROJECT_KEY }}"
          cache-from: type=registry,ref=mariofonsecamtz/eq18_turkish_music_mlops:buildcache
          cache-to: type=registry,ref=mariofonsecamtz/eq18_turkish_music_mlops:buildcache,mode=max
